.alice-carousel {
  display: flex;
  width: 100%;
  position: relative;
}

.alice-carousel__stage {
  display: flex;
  gap: 18px;
  position: relative;
  list-style: none;
  padding: 0;
  position: relative;
  max-width: calc(100vw - 140px);
  overflow: hidden;
}

.alice-carousel__dots {
  display: none
}
