.catalogue {
  padding: 40px 70px 100px;
}

.catalogue__title {
  font-weight: 500;
  font-size: 28px;
}

.catalogue__gallery {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
}