.item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 240px;
  border: solid 1px #c28ea7;
  border-radius: 10px;
  padding: 20px;
  text-decoration: none;
  box-sizing: border-box;
}

.item_small {
  width: 200px;
  height: 280px;
  padding: 10px;
  flex-shrink: 0;
}

.item__image-container {
  height: 200px;
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.item_small .item__image-container {
  width: 130px;
  height: 130px;
}

.item__image {
  width: 100%;
}

.item__name {
  font-weight: 500;
  font-size: 18px;
  margin-top: 14px;
  color: #000;
}

.item__price {
  font-weight: 500;
  font-size: 20px;
  margin-top: 8px;
  color: #000;
}

.item__cart-button {
  margin-top: 16px;
  background-color: #ff91c8;
  border: none;
  font-size: 20px;
  font-weight: 500;
  color: #2c1822;
  width: 200px;
  height: 40px;
  border-radius: 35px;
  box-shadow: 2px 3px 5px #27203650;
  transition: background-color 0.2s ease-in-out;
}

.item_small .item__cart-button  {
  width: 120px;
  font-size: 18px;
}

.item__cart-button:hover {
  background-color: #ee88bb;
}

.item__cart-button:active {
  background-color: #d87aa9;
}

.item__like-button {
  height: 32px;
  width: 32px;
  background: none;
  border: none;
  background-image: url('../../images/icon\ _heart.svg');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: 16px;
  right: 16px;
}