.product {
  display: flex;
  padding: 100px 70px;
}

.product__images {
  display: flex;
  gap: 50px;
}

.product__gallery {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.product__image {
  border: solid 1px #D0D0D0;
  width: 100px;
  height: 100px;
  cursor: pointer;
  transition: filter 0.2s ease-in-out;
}

.product__image:hover {
  filter: brightness(90%);
}

.product__image:active {
  filter: brightness(85%);
}

.product__main {
  position: relative;
}

.product__main-image {
  width: 600px;
  height: 600px;
}

.product__image-button {
  border: none;
  background: none;
  background-size: cover;
  height: 50px;
  width: 50px;
  position: absolute;
  bottom: 0;
  transition: scale 0.2s ease-in-out;
}

.product__image-button:hover {
  scale: 1.05;
}

.product__image-button:active {
  scale: 1;
}

.product__image-button_left {
  background-image: url('../../images/arrow-circle-left.svg');
  left: 20px;
}

.product__image-button_right {
  background-image: url('../../images/arrow-circle-right.svg');
  right: 20px;
}
