.header__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 70px 20px;
  border-bottom: solid 1px #c28ea7;
  position: fixed;
  z-index: 1;
  background-color: #FFF;
  width: 100%;
  box-sizing: border-box;
}

.header__logo {
  font-family: 'Comfortaa', 'Segoe UI', Verdana, sans-serif;
  text-transform: lowercase;
  font-weight: 400;
  font-size: 36px;
}

.header__menu {
  display: flex;
  margin-left: auto;
  gap: 28px;
}

.header__links {
  display: flex;
  gap: 24px;
}

.header__link {
  font-weight: 300;
  font-size: 18px;
  text-decoration: none;
  color: #000;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header__link-title {
  font-size: 14px;
}

.header__points {
  font-size: 16px;
  font-weight: 500;
  margin-top: 4px;
}

.header__button {
  background: none;
  border: none;
  font-weight: 00;
  font-size: 18px;
}

.header__icon {
  width: 24px;
  height: 24px;
}

.header__cart-num {
  background-color: #ff91c8;
  color: #2c1822;
  font-size: 12px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  border-radius: 12px;
  position: absolute;
  top: -14px;
  right: -14px;
}


.header__categories-container {
  padding-top: 90px;
}

.header__categories {
  display: flex;
  padding-top: 32px;
  gap: 32px;
  justify-content: center;
}

.header__category {
  font-weight: 300;
  font-size: 20px;
  text-decoration: none;
  color: #000;
}

.header__menu-button {
  background: none;
  border: none;
  height: 24px;
  width: 24px;
  background-image: url('../../images/menu\ black.svg');
}


@media screen and (min-width: 600px) and (max-width: 1300px) {
  .header__top {
    flex-flow: row wrap;
  }

  .header__menu {
    gap: 20px;
  }

  .header__links {
    gap: 14px;
  }
}

@media screen and (max-width: 600px) {
  .header {
    padding: 30px 30px 0;
  }

  .header__top {
    flex-flow: row wrap;
  }
}