.player {
  display: flex;
  padding: 120px 0;
}

.player__main {
  width: 50%;
  background-color: #000;
  display: flex;
  position: relative;
}

.player__video {
  height: calc(100vh - 60px);
  margin: 0 auto;
}

.player__video-info {
  position: absolute;
  top: 20px;
  right: 20px;
}