.player {
  display: flex;
  padding: 90px 0 0;
}

.player__main {
  background-color: #000;
  display: flex;
  position: relative;
  padding: 0 150px;
  box-sizing: border-box;
}

.player__video {
  height: calc(100vh - 60px);
}

.player__video-info {
  position: absolute;
  top: 20px;
  right: 20px;
  color: #FFF;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.player__user {
  display: flex;
}

.player__user-button {
  position: absolute;
  bottom: -5px;
  right: -5px;
  height: 24px;
  width: 24px;
  background-color: #FFF;
  border: none;
  border-radius: 12px;
  background-image: url('../../images/Plus.svg');
  background-size: cover;
}

.player__author {
  position: absolute;
  color: #FFF;
  right: 150px;
  top: 0;
}

.player__tags {
  position: absolute;
  color: #FFF;
  right: 150px;
  top: 24px;
  display: flex;
  gap: 6px;
  max-width: 150px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.player__views {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;
}

.player__views-icon {
  height: 30px;
  width: 30px;
}