.avatar {
  position: relative;
}

.avatar__container {
  background-color: #f1bbd6;
  height: 50px;
  width: 50px;
  border-radius: 25px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  text-transform: uppercase;
}